<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Codeil/<%= title %></h1>
    </body>
</html>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id = "new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Typehere...."></textarea>
        <input type="submit" value="Post">
    </form>
</section>